<p class="title is-4">Key Dates</p>

<ul class="spaced-list">
    <li>Paper, Demo & Poster Submissions: <strong style="text-decoration: line-through;">Extended to January 19, 2024 AoE</strong><a href="https://time.is/Anywhere_on_Earth" target="_blank"><span class="icon"><i class="fas fa-clock"></i></span></a></li>
    <li>Acceptance Notifications: <strong style="text-decoration: line-through;">February 9, 2024</strong></li>
    <li>Camera-Ready Submissions: <strong style="text-decoration: line-through;">March 1, 2024</strong></li>
    <li>Workshop Date: <strong>March 18, 2024</strong></li>
</div>
